#titulo-principal {
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.rebajado {
    color: super-mega-azul-galactico; /* ERROR: Color inexistente */
    font-weight: bold /* ERROR: Falta el punto y coma aquí */
}